{% extends 'registration/base_reg.html' %}
{% load staticfiles %}
{% block title %}
  <h4>Cambiar Contraseña</h4>
{% endblock %}
{% block body %}
    {% if validlink %}
        <p>Por favor ingresa (y confirma) tu nueva contraseña.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ crsrf_token }}" name="crsfmiddlewaretoken">
            </div>
                <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}</td>
                                <div class="aa-single-field"></div>
                                    <label for="id_new_password1">Nueva contraseña: </label>
                                </div>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}</td>
                                <div class="aa-single-field">
                                    <label for="id_new_password2">Nueva contraseña: </label>
                                </div>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <div class="aa-single-submit">
                                <td><input type="submit" value="Cambiar contraseña"/></td>
                            </div>
                        </tr>
                    </table>
        </form>
    {% else %}
        <h1>El cambio de contraseña ha fallado</h1>
        <p>El link para cambiar la contraseña es invalido, posiblemente porque ya ha sido usado. Por favor pide un nuevo cambio de contraseña.</p>
    {% endif %}
{% endblock %}