{% extends 'registration/base_reg.html' %}
{% load staticfiles %}
{% block title %}
  <h4>Cambiar Contraseña</h4>
{% endblock %}
{% block body %}
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <div class="aa-single-field">
            <p>{{ form.email.label_tag }}</p>
            <p>{{ form.email }} </p>
        </div>
        <div class="aa-single-submit">
            <input type="submit" class="aa-browse-btn" value="Enviar email" />
        </div>
    
    
</form>
{% endblock %}